@model DeltaDucks.Web.ViewModels.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<div class="alert alert-success" role="alert">
    @ViewBag.StatusMessage</div>

<div class="page-header">
    <h2>Настройки на профила</h2>
</div>
<div style="padding-left: 470px"> @*careful*@
    <div class="profile-containers">
        <img class="profile-picture" src="@Url.Action("UserPhotos", "Manage")" />
        <span class="label label-primary custom-label">
            @Html.ActionLink("Промяна на профилна снимка", "ChangePicture", null, new { @style = "text-decoration: none; color: white; font-size: 24px;" })
        </span>
        <span class="label label-primary custom-label">
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Промяна на парола", "ChangePassword", null, new { @style = "text-decoration: none; color: white; font-size: 24px;" })
            }
            else
            {
                @Html.ActionLink("Задаване на парола ", "SetPassword", null, new { @style = "text-decoration: none; color: white; font-size: 24px;" })
            }
        </span>

        @if (User.IsInRole("Admin"))
        {
            <span class="label label-primary custom-label">

                @Html.ActionLink("Администраторски панел", "GoToAdmin", "Account", null, new { @style = "text-decoration: none; color: white; font-size: 24px;" })

            </span>
        }
    </div>
</div>
