@model DeltaDucks.Web.ViewModels.LandmarkViewModel

<div class="landmark-container">
    <div class="post-content">
        <div class="media-body">
            <p class="thumbnail">@Model.Number</p>
            @if (Model.Pictures.Count > 0)
            {
                <img class="landmark-img" src="@String.Format("data:image/png;base64,{0}", Convert.ToBase64String(Model.Pictures.ElementAt(0).ImageData))" />
            }
        </div>
        <h1 class="title">@Html.Label(Model.Name)</h1>
        <div class="description">
            <p>@Model.Description</p>
            <div>
                <a href="@Url.Action("Details", "Landmark", new {number = Model.Number})" 
                   class="btn btn-default more-btn">Още</a>
            </div>
        </div>
        <div class="post-meta">
            <span class="points">
                <i class="material-icons">star</i>
                <p>Точки: @Model.Points</p>
            </span>
            <span class="visits">
                <i class="material-icons">perm_identity</i>
                <p>Посещения: @Model.Visits</p>
            </span>
        </div>
    </div>
    <hr/>
</div>