@using DeltaDucks.Data
@using Microsoft.AspNet.Identity
@model DeltaDucks.Web.ViewModels.LandmarkViewModel


<script src="../../Scripts/sweetalert.min.js"></script>
<script src="../../Scripts/js/enterCode.js"></script>
<link rel="stylesheet" type="text/css" href="../../Content/sweetalert.css">
<div class="panel panel-default">
    <div class="panel-heading">
        @Html.Label(Model.Name)
    </div>
    <div class="panel-body">
        <div class="media-body">

            <p>@Model.Number</p>
            <p>@Model.Description</p>
        </div>
    </div>
    <a href="@Url.Action("Details","Landmark", new {number = Model.Number})" class="btn btn-default"
       style="margin: 15px">Още</a>
    @*TODO: Add pop-up for code *@

    
    @{
        var context = new DeltaDucksContext();
        using (context)
        {
            var userId = User.Identity.GetUserId();
            var user = context.Users.FirstOrDefault(u => u.Id == userId);

            if (user.VisitedLandmarks.Select(l => l.Number).ToList().Contains(Convert.ToByte(Model.Number)))
            {
                <p class="btn btn-default"
                        style="margin: 15px; float: right; color: green">Посетено</p>
            }
            else
            {
                <button onclick="enterCode(@Model.Number)" id="enterCodeBtn"
                        class="btn btn-default"
                        style="margin: 15px; float: right">
                    Въведи посещение
                </button>
            }

        }

    }
   
</div>


