@model DeltaDucks.Web.ViewModels.CommentViewModel

@{
    ViewBag.Title = "Create";
}

<h2>Добави коментар</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.HiddenFor(model => model.LandmarkId)
        @Html.HiddenFor(model => model.LandmarkNumber)

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <span class="control-label col-md-2">Коментар</span>
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Text, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Text, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Добави" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div class ="btn btn-default">
    <a href="@Url.Action("Details", "Landmark", new { number = Model.LandmarkNumber })" style="text-decoration: none; color:black">Назад</a>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
