@using Microsoft.AspNet.Identity
@model DeltaDucks.Web.ViewModels.LandmarkViewModel

@{
    ViewBag.Title = "Details";
}
<div class="details-heading">
    <h1>@Model.Name</h1>
</div>
<div>
    @Html.HiddenFor(model => model.LandmarkId)
    <div class="details-number">
        <h1>Номер @Model.Number </h1></div>
    <div class="details-information">
        <article><p>@Model.Information</p></article>     
    </div>
</div>
<div class="details-pictures">
    @foreach (var picture in ViewBag.Pictures)
    {
        <img class="details-img"src="@String.Format("data:image/png;base64,{0}", Convert.ToBase64String(picture))"/>
    }
</div>
<div>
<hr />
    <div class="details-comments">
        <h4> @Model.Comments.Count Comments: </h4>
    </div>

    @foreach (var comment in Model.Comments)
    {
        <div style="border-bottom: 1px solid rgba(0, 0, 0, 0.1); margin-bottom: 5px; font-size: 24px; padding-left: 70px;">
            <div>@comment.Text</div>
            @if (comment.Author != null)
            {
                <div style="font-size: 24px;">
                    <strong>от @comment.Author.FirstName @comment.Author.LastName</strong> (<i><strong>@comment.Author.UserName</strong></i>)
                    @if (comment.AuthorId == User.Identity.GetUserId())
                    {
                        <a href="@Url.Action("Edit", "Comment", new {id = comment.CommentId, landmarkId = Model.LandmarkId, number = Model.Number})" class="btn btn-primary btn-sm" style="background-color: #57BC90; border-color: #A5A5Af">Edit my comment</a>
                        <a href="@Url.Action("Delete", "Comment", new {commentId = comment.CommentId, number = Model.Number})"class="btn btn-danger btn-sm">Delete my comment</a>
                    }
                </div>
            }
            else
            {
                @:By Anonymous
            }
            <div style="font-size: 18px;">
                Posted on <i>@comment.DateCreated.ToString("dd.MM.yyyy")</i>
            </div>
        </div>
    }
</div>

<a href="@Url.Action("Create", "Comment", new { id = Model.LandmarkId, number = Model.Number })" class="btn btn-default" style="margin: 15px;">Add new comment</a>
<a href="@Url.Action("Index", "Landmark", new {page = Model.Number/10 + (Model.Number%10 == 0 ? 0 : 1)})" class="btn btn-default" style="margin: 15px;">Назад</a>
