@model DeltaDucks.Web.ViewModels.LandmarkViewModel

@{
    ViewBag.Title = "Details";
}
<h2>@Model.Name</h2>
<div>
    <hr />
    <h5>Номер: @Model.Number</h5>
    <div><p>@Model.Information</p></div>
</div>
<div>
    <h4>Снимки</h4>
    @foreach (var picture in ViewBag.Pictures)
    {
        <img src="@String.Format("data:image/png;base64,{0}", Convert.ToBase64String(picture))" style="width: 160px; height: 160px; background: #FFFFFF;
                                      margin: auto; 
                                      padding: 6px;
                                      box-shadow: 0px 0px 20px #888;" />
    }
</div>
<p style="margin: 15px" class="btn btn-default">
    @Html.ActionLink("Назад", "Index", new { page = Model.Number / 10 + (Model.Number % 10 == 0 ? 0 : 1) })
</p>
